.navbar .nav-link {
    display: inline-block;
    padding: 8px 16px;
    margin: 0 20px;
    border-radius: 8px;
    background-color: white;
    color: #000000;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s ease-in-out;

}
  
.navbar .nav-link:hover {
    background-color: #000000;
    color: white;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.3);
}
#nav{
    margin-left: 45%;
}