<div class="projet">
    <div class="projet1">
        <img src="assets/agentrag.png" alt="Project Image">
        <h1>RAG Agent for Market Research</h1>
        <p>Un projet collaboratif mettant en œuvre un agent RAG (Retrieval-Augmented Generation) pour l’analyse des études de marché, exploitant des modèles de langage de grande taille, avec une interface web.</p>
        <a href="https://github.com/AhmedTrb/RAG-Solution-for-Market-Research" target="_blank" rel="noopener noreferrer" title="Voir le projet sur GitHub">
            <i class="fab fa-github fa-2x"></i> Voir sur GitHub
        </a>
    </div>

    <div class="projet2">
        <img src="assets/project c.PNG" alt="Project Image">
        <h1>E-BUS</h1>
        <p>Un projet cmd de commande pour un système de bus électronique (E-bus), développé en langage C.</p><br><br><br>
        <a href="https://github.com/GannouniAmine/Gannouni-Mohamed-amine" target="_blank" rel="noopener noreferrer" title="Voir le projet sur GitHub">
            <i class="fab fa-github fa-2x"></i> Voir sur GitHub
        </a>
    </div>

    <div class="projet3">
        <img src="assets/zeroone.PNG" alt="Project Image">
        <h1>E-commerce Clothing Store</h1>
        <p>Un site web de boutique de vêtements développé en PHP, JavaScript, HTML et CSS.</p><br><br><br>
        <a href="https://github.com/GannouniAmine/projet-web" target="_blank" rel="noopener noreferrer" title="Voir le projet sur GitHub">
            <i class="fab fa-github fa-2x"></i> Voir sur GitHub
        </a>
    </div>
</div>
