<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
      <img src="assets/amine.jpg" alt="Photo de Med amine Gannouni" class="profile-image">
      <h1>Hey ! Je suis Med amine Gannouni ⭐</h1>
      <h2>Computer Science Engineering Student</h2>
      <p>Je suis étudiant en génie informatique à l'École Nationale des Sciences de l'Informatique. Passionné par les technologies, j'aime concevoir des solutions innovantes et utiles. Rejoignez-moi dans mon parcours où je mets en œuvre mes compétences en ingénierie logicielle pour relever des défis concrets.</p>
    </div>
  </div>
</div>
